/* Add some global styles here! */

:root {
  --red: rgb(208, 67, 12);
  --base-bg: #f1f3f5;
}

button.btn-small {
  font-size: 80%;
}

button.button-error {
  color: white;
  background: var(--red);
}

a.button {
  color: #212529;
  background-color: rgb(255, 208, 150);
  border: 1px solid #b5b7b9;
  border-radius: 0.25em;
  padding: 0.5em 1em;
  text-decoration: none;
  font-size: 1.25em;
}

a.button:hover {
  background-color: rgb(255, 237, 150);
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
